
.footer {
    background-color: white;
    padding: 70px 0;
}


.logo img {
    size: 20px;
}


.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    
}

.footer_col {
    width: 25%;
    padding: 0 0px;
    position: relative;
}

ul {
    list-style: none;
    
}



.footer_col ul li a{
    margin-bottom: 10px;
    font-size: 15px;
    text-decoration: none;
    color: grey;
    font-weight: 300;
    display: block;
}

.footer_col ul li a:hover {
    text-decoration: underline;
    color:mediumblue;
}



