<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <link rel="stylesheet" href="Footer.css" />
  </head>
  <body></body>
</html>


  <div class="container">
    <div class="row">
      <div class="footer_col">
        <ul>
          <li><a href="">Informazioni</a></li>
          <li><a href="">Linee guida della community</a></li>
          <li><a href="">Privacy e condizioni</a></li>
          <li><a href="">Sales Solutions</a></li>
          <li><a href="">Centro sicurezza</a></li>
        </ul>
      </div>

      <div class="footer_col">
        <ul>
          <li><a href="">Accessibilità</a></li>
          <li><a href="">Carriera</a></li>
          <li><a href="">Opzioni di annuncio</a></li>
          <li><a href="">Mobile</a></li>
        </ul>
      </div>

      <div class="footer_col">
        <ul>
          <li><a href="">Talent Solutions</a></li>
          <li><a href="">Soluzioni di marketing</a></li>
          <li><a href="">Pubblicità</a></li>
          <li><a href="">Piccole imprese</a></li>
        </ul>
      </div>
      <div class="footer_col">
        <ul class="domande">
          <li><a href="">Domande?</a></li>
          <li><a href="">Gestisci il tuo account e la tua privacy</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
