.App {
  text-align: center;
  margin: 0 auto;
  background: #e7e6e1;
}

.body-container {
  padding: 0vh 10vw;
}

#input-file {
  display: none;
}

.logo{
  width:40px;
}

.navbar-nav a{
  text-decoration: none;
  color: #5f5f5fe1;
  margin: 1rem
}
.Me, .work-icon {
  padding: 0em 1em;
}
.Me {
  margin-top: 1em;
}
.work-icon {
  padding-top: 1em;
}
#Account {
  list-style-type: none;
}
.nav-avatar {
  border-radius: 50%;
  width: 30px;
  height: 30px; 
}
.navbar{
  display: flex!important;
  flex-flow: row nowrap!important;
  justify-content: space-between!important;
  align-items: center!important;
  gap: 1em!important;
  background: #fff!important;
  margin-bottom: 2vh!important;
}
.nav-anchors {
  display: flex!important;
  flex-flow: row nowrap!important;
  justify-content: space-evenly!important;
  gap: .5em!important;
}
.nav-dropdown-name {
  font-weight: bold;
  margin-left: 5px;
  display:block;
}
.nav-profile-title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  gap: 10px;
}
.nav-view-profile {
  border: 1px solid var(--linkedin-blue)!important;
  color: var(--linkedin-blue)!important;
  width: 100%!important;
  border-radius: 10px!important;
  padding: .5em 3em;
}
.view-profile-btn {
  text-align: center!important;
}
.navbar-expand .navbar-nav .nav-link {
  margin: 0!important;
  padding: 0!important;
}
.navbar-nav {
  width: 100%!important;
}
@media screen and (min-width: 1200px) {
  .navbar {
    padding: 0vh 15vw!important;
  }
}
/*----------------------- LOGIN --------------------------------*/
.login-form {
  width: 40vw!important;
  margin-left: 30vw!important;
  margin-top: 10vh!important;
}

.login-btn {
  background-color: var(--linkedin-blue);
  color: white;
}
/*----------------------- SEARCH BAR --------------------------------*/
.search-bar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
.search-icon {
  margin-bottom: 1em;
  margin-right: 1em;
}
.search-list-item {
  cursor: pointer!important;
}
.search-bar-container {
  padding: 0em!important;
  margin-top: 1em!important;
  min-width: 13vw!important;
}
/*----------------------- PEOPLE YOU MAY KNOW -----------------------------------*/
.people-preview img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.people-preview button {
  color: var(--dark-gray)!important;
  background: transparent !important;
  border: 1px solid var(--dark-gray)!important;
  border-radius: 5px!important;
  margin: 0 !important;
}
.people-preview button:hover {
  border: 2px solid var(--dark-gray)!important;
  background: var(--light-gray) !important;
}
.people-preview h5 {
  font-size: 1rem;
  margin: 0.1rem !important;
}
.people-preview p {
  font-size: 0.85rem;
  margin: 0.1rem !important;
}
.text-left {
  text-align: left!important;
}
.people-btn {
  color: var(--dark-gray) !important;
  background: #fff!important;
  border: 1px solid var(--light-gray)!important;
  display: flex!important;
  flex-flow: row nowrap!important;
  align-items: center!important;
  justify-content: center!important;
}

/*------------------------ POST ---------------------------------*/
.post-row {
  margin-bottom: 10px!important;
}
.post-header {
  display: flex!important;
  flex-flow: row nowrap!important;
  gap: 10px!important;
}
.post-info {
  display: flex!important;
  flex-flow: column nowrap!important;
  justify-content:flex-start!important;
}
.post-author {
  font-size: 1rem!important;
  text-align: left!important;
  cursor: pointer!important;
}
.post-date {
  font-size: 0.8rem!important;
  color: var(--gray)!important;
  text-align: left!important;
}
.post-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.post-content {
  text-align: left!important;
}
.post-buttons {
  display: flex!important;
  flex-flow: row nowrap!important;
  justify-content: space-between!important;
  border-top: 1px solid var(--light-gray);
  margin-top: 10px!important;
  padding-top: 10px!important;
}
.post-btn {
  cursor: pointer!important;
}
.load-posts-row {
  display: flex!important;
  flex-flow: row nowrap!important;
  justify-content: center!important;
}
.load-posts-btn {
  background: transparent!important;
  color: black!important;
  border: 1px solid var(--light-gray) !important;
  width: 10vw!important;
}
.new-post-card  {
  margin-bottom: 5vh!important;
}
.send-post-btn {
  display:none;
}

.new-post-form {
  width: 100%!important;
}

.post-img {
  width: 100%!important;
  margin-top: .5em!important;
}

/*----------------------- COMMENTS -----------------------------------*/
.comment {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 10px;
}

.comment-author {
  font-weight: 500 !important;
}
/*----------------------- PROFILE CARD -----------------------------------*/

.main-profile-card {
  background-image: url('../public/assets/linkedin-default-background-cover.webp');
  background-size: 100%;
  background-repeat: no-repeat;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  background-color: #fff;
}

.edit-avatar {
  position: relative;
  left: 140px;
  bottom: 50px;
}

#experience {
  background-color: #fff!important;
}

@media screen and (min-width: 768px) {
  .main-profile-card {
    padding: 20px;
  }
}

@media screen and (min-width: 992px) {
  .main-profile-card {
    padding-top: 85px;
  }
}

.main-profile-card h1 {
  font-size: 24px;
  margin-bottom: 0px;
}

.main-profile-card button {
  font-weight: bold;
}

.btn-follow {
  background-color: #0077B5;
}

.btn-msg {
  border: 1px solid #0077B5;
  color: #0077B5;
}

.action-icon-container,
.profile-edit-icon-container {
  width: 48px;
  height: 48px;
  position: relative;
  border-radius: 50%;
}

.add-el-icon,
.profile-edit-icon {
  font-size: 25px;
  position: absolute;
  top: -4%;
  left: 0%;
  transform: translate(50%, 50%);
}

.upd-el-icon {
  transform: translateY(-6%);
}

.action-icon-container:hover,
.profile-edit-icon-container:hover{
  background-color: lightgrey;
}

.people-preview button {
  color: var(--dark-gray)!important;
  background: transparent !important;
  border: 1px solid var(--dark-gray)!important;
  border-radius: 5px!important;
  margin: 0 !important;
}
/*----------------------- SIDEBAR CARD -----------------------------------*/

#button {
  border: none;
  background: white;
  text-decoration: underline;
  color: #0077B5;
}

.circular-landscape {
  display: inline-block;
  position: relative;
  width: 68px;
  height: 68px;
  overflow: hidden;
  border-radius: 50%;
  }
  .circular-landscape img {
  width: auto;
  height: 100%;
  }

#crdsd{
  text-align: left;
}

.card-header{
  padding: 0;
}

.imgsideprofile {
  margin-bottom: -40px;
  height: 70px;
  width: 100%;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}
.text-left {
  text-align: left!important;
}

.info-wrapper {
  padding: 20px;
}

ul, #li{
  color: #0077B5;
  list-style-type: none;
}

footer {
  margin-top: 2vh;
}
.footer-links {
  display: flex!important;
  flex-flow: row wrap!important;
  justify-content: center!important;
  align-items: center!important;
  gap: 10px!important;
}
.footer-logo {
  width: 60px!important;
}
footer a {
  text-decoration: none;
  color: var(--gray) !important;
  font-size: 0.8rem!important;
}

footer a:hover {
  text-decoration: underline;
  color: var(--linkedin-blue)!important;
}
.footer-copy {
  font-size: 0.85rem!important;
}
/*@media screen and (min-width: 1024px) {
  .profile-sidebar {
    position: fixed!important;
  }
  .people-list {
    position: fixed!important;
    margin-top: 0!important;
  }
}*/