.App {
  text-align: center;
  margin: 0 auto;
}

.logo{
  width:40px;
}

#link{
  text-decoration: none;
  color: #5f5f5fe1;
  margin: 1rem
}

#icon{
  width: 90%;
  color: #5f5f5fe1
}

#Account {
  list-style-type: none;
}

.navbar{
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
}

#btnProfilo {
  /*border-radius: 40%;*/
  width: 13vw;
  height: 35px;
}

.dropdown-menu.show{
  width: 16vw;
  padding:1em
}

/*----------------------- PEOPLE YOU MAY KNOW -----------------------------------*/
.people-preview img {
  width: 50px;
  border-radius: 50%;
}

/*----------------------- PROFILE CARD -----------------------------------*/

.main-profile-card {
  background-image: url('../public/assets/linkedin-default-background-cover.webp');
  background-size: 100%;
  background-repeat: no-repeat;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 768px) {
  .main-profile-card {
    padding: 20px;
  }
}

@media screen and (min-width: 992px) {
  .main-profile-card {
    padding-top: 85px;
  }
}

.main-profile-card h1 {
  font-size: 24px;
  margin-bottom: 0px;
}

.main-profile-card button {
  font-weight: bold;
}

.btn-follow {
  background-color: #0077B5;
}

.btn-msg {
  border: 1px solid #0077B5;
  color: #0077B5;
}

.people-preview button {
  color: var(--dark-gray)!important;
  background: transparent !important;
  border: 1px solid var(--dark-gray)!important;
  border-radius: 5px!important;
  margin: 0 !important;
}
.people-preview button:hover {
  border: 2px solid var(--dark-gray)!important;
  background: var(--light-gray) !important;
}
.people-preview h5 {
  font-size: 1rem;
  margin: 0.1rem !important;
}
.people-preview p {
  font-size: 0.85rem;
  margin: 0.1rem !important;
}
.text-left {
  text-align: left!important;
}