.App {
  text-align: center;
}

.logo{
  width:40px;
  margin-left: 10vw;
}

#link{
  text-decoration: none;
  color: #5f5f5fe1;
  margin: 5px
}

#icon{
  width: 90px;
  color: #5f5f5fe1
}

.navbar{
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
}

#premium{
  width: 7vw;
}